# Django core
Django==5.1.5
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
django-cors-headers==4.6.0
django-q2==1.7.4

# Database
dj-database-url==3.0.1
psycopg2-binary==2.9.10

# Supabase
supabase==2.20.0
storage3==2.20.0

# HuggingFace client (for remote feature extraction)
gradio_client==1.11.0

# Image handling
pillow==11.1.0

# HTTP & networking
requests==2.32.3

# Environment & config
python-dotenv==1.1.1
setuptools==82.0.1

# Server
gunicorn==23.0.0
